.hero {
	margin-top: -9.2rem;
	text-align: center;
	position: relative;
	overflow-x: hidden;

	@include media('tablet') {
		text-align: initial;
		height: 60rem;
	}

	@include media('desktop') {
		height: 72rem;
		overflow-x: initial;
	}

	&__image {
		width: 45%;
		height: 38.3rem;
		margin: 0 auto 4rem;

		@include media('tablet') {
			height: 60rem;
			width: 32.2rem;
			position: absolute;
			top: 0;
			right: 0;
			margin: 0;
		}

		@include media('desktop') {
			height: 72rem;
			width: 44.5rem;
		}

		& img {
			width: 100%;
			height: 100%;
			object-fit: scale-down;

			@include media('tablet') {
				object-fit: cover;
			}
		}
	}

	&__content {
		padding: 0 1.6rem;
		position: relative;

		@include media('tablet') {
			width: 65%;
			position: absolute;
			top: 15rem;
			left: 3.2rem;
		}

		@include media('desktop') {
			padding: 0;
			width: 70%;
			left: 0;
		}

		&-heading {
			@include typography($h-xl-fs, $h-xl-fw, $h-xl-lh, $h-xl-ls);
			margin-bottom: 2.4rem;

			@include media('tablet') {
				@include typography(
					$h-xl-t-fs,
					$h-xl-t-fw,
					$h-xl-t-lh,
					$h-xl-t-ls
				);
				margin-bottom: 6rem;
			}

			@include media('desktop') {
				@include typography(
					$h-xl-d-fs,
					$h-xl-d-fw,
					$h-xl-d-lh,
					$h-xl-d-ls
				);
			}

			&-line {
				position: relative;

				@include media('tablet') {
					display: block;
				}

				&--collapse {
					@include media('desktop') {
						display: inline;
					}
				}

				&--underline {
					border-bottom: 4px solid $green;
				}
			}
		}

		&-text {
			width: 100%;
			@include typography($t-s-fs, $t-s-fw, $t-s-lh);
			color: $gray-white;
			margin-bottom: 2.4rem;

			@include media('tablet') {
				width: 80%;
				margin-bottom: 3.4rem;
			}

			@include media('desktop') {
				@include typography($t-l-d-fs, $t-l-d-fw, $t-l-d-lh);
			}
		}
	}

	&__decoration {
		&-ring {
			position: absolute;
			top: 9rem;
			left: -25rem;
			z-index: -1;

			@include media('desktop') {
				top: 9;
				left: -27rem;
			}
		}

		&-circle {
			position: absolute;
			top: 47rem;
			right: -7rem;

			@include media('desktop') {
				top: 50rem;
				right: 38rem;
			}
		}
	}

	&__separator {
		margin: 8rem 2rem 0;
		width: calc(100% - 4rem);
		height: 0.1rem;
		background-color: $white;

		@include media('tablet') {
			margin: 6rem 2rem 0;
		}

		@include media('desktop') {
			margin: 10rem 2rem 0;
		}
	}
}
