.skills {
	padding-top: 4rem;
	position: relative;
	overflow-x: hidden;

	@include media('tablet') {
		padding: 4rem 3rem 5rem;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	@include media('desktop') {
		padding: 7.2rem 0 14rem;
		max-width: 111rem;
		margin: 0 auto;
		overflow: initial;
	}

	&__decoration-ring {
		position: absolute;
		right: -35rem;
		bottom: 1rem;

		@include media('desktop') {
			right: -40rem;
			bottom: 13rem;
		}
	}

	&__separator {
		margin: 4rem 2rem 7rem;
		width: calc(100% - 4rem);
		height: 0.1rem;
		background-color: $white;

		@include media('tablet') {
			display: none;
		}
	}
}
