header {
	@include media('tablet') {
		height: 66rem;
	}
}

header .header {
	position: relative;
	z-index: 1;
}

.header {
	width: 40%;
	text-align: center;
	margin: 0 auto;

	@include media('tablet') {
		width: calc(100% - 6rem);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		@include typography($h-m-fs, $h-m-fw, $h-m-lh);
		padding: 2rem 0;

		@include media('tablet') {
			@include typography($l-t-fs, $l-t-fw, $l-t-lh, $l-t-ls);
		}
	}

	&__social-list {
		display: flex;
		justify-content: space-between;
	}

	&__social-icon {
		width: 2rem;
		height: 2rem;

		@include media('tablet') {
			width: 2.4rem;
			height: 2.4rem;
			margin-left: 3.2rem;
		}
	}
}
