.button {
	@include typography($b-fs, $b-fw, $b-lh);
	text-decoration: none;
	text-transform: uppercase;
	color: $gray-white;
	padding-bottom: 1rem;
	border-bottom: 0.2rem solid $green;
	display: inline-block;
	transition: color 200ms ease-in;
}

.button:hover {
	color: $green;
}
