@mixin typography(
	$font-size,
	$font-weight,
	$line-height: normal,
	$letter-spacing: normal
) {
	font-size: $font-size;
	font-weight: $font-weight;
	line-height: $line-height;
	letter-spacing: $letter-spacing;
}

@mixin media($device) {
	@if ($device == 'tablet') {
		@media screen and (min-width: map-get($breakpoints, 'tablet')) {
			@content;
		}
	}

	@if ($device == 'desktop') {
		@media screen and (min-width: map-get($breakpoints, 'desktop')) {
			@content;
		}
	}
}
